:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.currencyButton {
  margin: 0;
  background-color: #747bff;
  height: 100px;
  text-align: left;
  font-size: 30px;
  border-radius: 16px;
}

.currencyButton:hover {
  background-color: #585ed1;
  /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    box-shadow: 0 0 16px 2px darkblue;
  scale: 1.03 !important;
}

.currencySelectionBar {
  width: 25vw;
  height: 100px;
  background-color: #2623b0;
  display: flex;
  flex-direction: row;
}

.currencySelection {
  width: 6.25vw;
  background-color: #c20a0a;
  font-size: 25px;
  color: #171830;
}

.currencySelection:hover {
  background-color: #a61313;
  scale: 1.1 !important;
}

.transactionBuyButton {
  width: 50%;
  height: 50%;
  background-color: darkgreen;
  border-radius: 20%;
text-decoration: none;
  font-size: 125%;
  text-align: center;
}

.transactionBuyButton:hover {
  background-color: green;
  scale: 1.05 !important;
}

.transactionSellButton {
  width: 50%;
  height: 50%;
  background-color: orangered;
  border-radius: 15%;
  font-size: 133%;

}

.transactionSellButton:hover {
  background-color: orange;
  scale: 1.1 !important;
}

.activateAutoTransactionButton {
  width: 50%;
  height: 50%;
  box-shadow: 0 0 purple;
  font-size: 200%;

  /*background: red*/
}

.activateAutoTransactionButton:hover {
  box-shadow: 0 0 64px 8px purple;
  scale: 1.1 !important;
  /*animation: alternate-reverse 5s;*/
}

/*.activateAutoTransactionButton:active {*/
/*  background-color: green;*/
/*}*/

.autoTransactionAmountButton {
  width: 50%;
  height: 50%;
  background-color: rebeccapurple;
  font-size: 150%;
}

.autoTransactionAmountButton:hover {
  background-color: mediumpurple;
  scale: 1.1 !important;
}

/*.stockList:hover {*/
/*  border-color: #646cff;*/
/*}*/
.rightTab  {
  width: 100%;
  height: 10%;
  color: rgba(1, 1, 1, 1);
  text-align: left;
  font-size: 250%;
  opacity: 100%;

  padding-left: 3%

}

.rightTab:hover {
  /*opacity: 0.5;*/
  scale: 1.05
}

.bankActions {
  width: 100%;
  height: 10%;
  margin-top: 5%;
  font-size: 150%;
}

/*.bankActions:hover {*/
/*  scale: 1.05 !important;*/
/*  opacity: 0.9;*/
/*}*/
.bankInput {
  width: 30%;
  height: 30%;
  font-size: 80%;
  text-align: center;
  outline: none;
  scale: 1;
}

.bankGraph {
  width: 45%;
  height: 45%;
  margin: 2%;
  background-color: #242424;
  font-size: 150%;
  padding-left: 1%;
  padding-top: 0.5%
}

button {
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
